.Navbody{
	display: flex;
	flex-direction: row;
	background: #212121;
	justify-content: space-between;
	align-items: center;
	padding: 8px;
}

.Navbody p{
	font-size: 25px;
	font-weight: bolder;
	text-transform: uppercase;
	color: #fff;
	margin-top:10px;
	padding-left:15px;
	display: inline-block;
}

.nav-link{
	list-style: none;
	margin-top:10px;
}

.nav-link li{
	display: inline-block;
	
}
.nav-link li a{
	color: #fff;
	font-weight: 400;
	font-size: 15px;
	padding: 10px;
	transition: all 0.3s ease 0s;
}

.nav-link li a:hover{
	text-decoration: none;
	color:#d32f2f;

}